{# empty Twig template #}

{% extends "MindSiteBundle::layout.html.twig" %}

{% block title %}Modifier un avis{% endblock %}

{% block sectionCorps %}
    
<section class="row-fluid"> 
    
    <span class="span1"></span>
    
    <span class="formSpan span10 well" >
        
        <form action="{{ path('mind_site_avis_modifier', {'idAvis': idAvis}) }}" class="form-horizontal" method="POST" enctype="multipart/form-data">
            
            <fieldset>
                <legend class="btn-primary">Modifier mon avis</legend>
                
                {{ form_errors(form) }}
                
                <div class="control-group">
                    {{ form_label(form.avisTitre) }}
                    <div class="controls">
                        {{ form_widget(form.avisTitre) }}
                        {{ form_errors(form.avisTitre) }}
                    </div>
                </div>
                
                <div class="control-group">
                    {{ form_label(form.avis) }}
                    <div class="controls">
                        {{ form_widget(form.avis) }}
                        {{ form_errors(form.avis) }}
                    </div>
                </div>
                
                <div class="control-group">
                    {{ form_label(form.typeOpinion) }}
                    <div class="controls">
                        {{ form_widget(form.typeOpinion) }}
                        {{ form_errors(form.typeOpinion) }}
                    </div>
                </div>
                
                <div class="control-group">
                    {{ form_label(form.avisDomaine) }}
                    <div class="controls">
                        {{ form_errors(form.avisDomaine) }}
                        {{ form_widget(form.avisDomaine) }}
                    </div>
                </div>
                
                <div class="control-group" id="imagesForUpload">
                    <label class="control-label" style="text-align:left;">Images :</label>
                        
                    <div class="controls">
                        
                        {# Ajout d'une nouvelle image #}
                        <div class="control-group">
                            <div class="contols">
                                <span id="addNewImage" class="btn"><i class="icon-plus"></i>Ajouter une image</span>
                                <div id="newImages">
                                    
                                </div>
                            </div>
                        </div>
                        
                        
                        {% for image in images %}
                        <span id="image{{image.id}}" class="row-fluid media">
                            <span class="span2 pull-left">
                                <img src="{{asset(image.path)}}" class="img-polaroid media-object">
                            </span>
                            
                            <span class="media-body">
                                <span id="{{image.id}}" class="toRemove btn btn-mini btn-primary"><i class="icon-remove"></i>Supprimer</span>
                            </span>
                            
                        </span>
                        {% endfor %}
                        
                    </div>
                </div>
                
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" class="btn btn-primary btn-large" value="Modifier mon avis">
                    </div>
                </div>
                
                {{ form_widget(form._token) }}
            </fieldset>
            <input id="filesToDelete" type="hidden" value="" name="fileToDelete">
            <input class="hide" type="file" multiple="multiple" name="filesImages[]">
        </form>
            
    </span>
</section>

<script type="text/javascript">
    
    $(function(){
        //local source
        var data = {% render controller('MindSiteBundle:Domaine:getDomaineForForm') %};
        $('#mind_sitebundle_avismodifiertype_avisDomaine').select2({
                                width: 530,
                                placeholder: 'Selectionnez un domaine',
                                send: 'never',
                                data: data,
                                dropdownCssClass: 'bigdrop'
                       } );
                       
       //Event
       $('#mind_sitebundle_avismodifiertype_avisDomaine').on('select2-selecting', function(e){
           
           $('#mind_sitebundle_avismodifiertype_avisDomaine').attr('value', e.val);
       });
       
       //Add new image
        $("#addNewImage").on('click',function(){
            var dataHtml = '<span class="row-fluid"><input type="file" multiple="multiple" name="filesImages[]"></span>';
            $("#newImages").append(dataHtml);
        });
        
        $("body").on('click','.toRemove', function(){
            
              var idImages = $("#filesToDelete").attr("value");
              if(idImages.length === 0){
                tabIdImage = new Array; 
              }else{
                var tabIdImage = idImages.split(',');
              }
              if($.inArray(this.id, tabIdImage) === -1){

                tabIdImage.push(this.id);
                $("#filesToDelete").attr("value", tabIdImage.join(','));

                var newHtmlData = '<span id="'+this.id+'" class="toAnnuler btn btn-mini btn-success"><i class="icon-repeat"></i>Annuler</span>';
                $(this).replaceWith(newHtmlData);

              }

        });
        
        $("body").on('click','.toAnnuler',function(){
    
            var idImages = $("#filesToDelete").attr("value");
            var tabIdImage = idImages.split(',');
            var indexValue = $.inArray(this.id, tabIdImage);
            tabIdImage.splice(indexValue,1);
            $("#filesToDelete").attr("value", tabIdImage.join(','));    
            var newHtmlData = '<span id="'+this.id+'" class="toRemove btn btn-mini btn-primary"><i class="icon-remove"></i>Supprimer</span>';
            $(this).replaceWith(newHtmlData);

      });
       
    });
    
</script>
{% endblock %}