{# empty Twig template #}

{% extends "MindSiteBundle::layout.html.twig" %}

{% block title %}Modifier une question {% endblock %}


{% block sectionCorps %}

        <span class="formSpan">
            
            <form action="{{ path("mind_site_question_modifier", {'idQuestion': idQuestion}) }}" class="form-horizontal" method="POST" {{ form_enctype(form) }}>
            
                <fieldset>
                    <legend class="btn-primary">Modifier ma question</legend>
                        
                        {{ form_errors(form) }}
                        
                    <div class="control-group">
                        {{ form_label(form.questionTitre) }}
                        <div class="controls">
                            {{ form_widget(form.questionTitre) }}
                            {{ form_errors(form.questionTitre) }}
                        </div>
                    </div>

                    <div class="control-group">
                        {{ form_label(form.question) }}
                        <div class="controls">
                            {{ form_widget(form.question) }}
                            {{ form_errors(form.question) }}
                        </div>
                    </div>
                    
                    <div class="control-group">
                        {{ form_label(form.questionDomaine) }}
                        <div class="controls">
                            <span id="popoverDomainesEye"><i class="icon-eye-open"></i></span>
                            {{ form_errors(form.questionDomaine) }}
                            {{ form_widget(form.questionDomaine) }}
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <div class="controls">
                            <input type="submit" class="btn btn-primary btn-large" value="Modifier ma question">
                        </div>
                    </div>

                    {{ form_widget(form._token) }}

                    
                </fieldset>
                
            </form>
        
        </span>

<script type="text/javascript">
    
    $(function(){
        //local source
        var data = {% render controller('MindSiteBundle:Domaine:getDomaineForForm') %};
        $('#mind_sitebundle_questionmodifiertype_questionDomaine').select2({
                                width: 530,
                                placeholder: 'Selectionnez un domaine',
                                send: 'never',
                                data: data,
                                dropdownCssClass: 'bigdrop'
                       } );
                       
       //Event
       $('#mind_sitebundle_questionmodifiertype_questionDomaine').on('select2-selecting', function(e){
           
           $('#mind_sitebundle_questionmodifiertype_questionDomaine').attr('value', e.val);
       });
       
       //Popover Domaine
       var optionsPopoverEye = {
                        'html': true,
                        'placement': 'bottom',
                        'trigger': 'click',
                        'title': 'Choisisez un domaine',
                        'content': '{% spaceless %}{% include 'MindSiteBundle:Domaines:liste_domaine_popover.html.twig' %}{% endspaceless %}'
        };
       
        $('#popoverDomainesEye').popover(optionsPopoverEye);
        
       //Popover domaine click on elmt
       $("body").on('click', '#popoverTable span', function(){
            
            var libelle = $('#'+this.id).attr('data-libelle');
            $("#mind_sitebundle_questionmodifiertype_questionDomaine").select2(
                    "data", {id: this.id, text: libelle}); 
           
           $('#popoverDomainesEye').popover('hide');
        });
    });
        
    
</script>

<style type="text/css">
    
    #domainePopover .popover{
        max-width: 800px;
    }
    #popoverTable span{
        cursor: pointer;
        color: #333333;
    }
</style>
{% endblock %}