{# empty Twig template #}

{% extends "MindSiteBundle::layout.html.twig" %}

{% block sectionCorps %}
    
<section class="row-fluid"> 
    
    <span class="span1"></span>
    
    <span class="formSpan span10 well" >
        
        <form action="{{ path("mind_site_avis_ajouter") }}" class="form-horizontal" method="POST" enctype="multipart/form-data">
            
            <fieldset>
                <legend class="btn-primary">Ajouter un avis</legend>
                
                {{ form_errors(form) }}

                <div class="control-group">
                    {{ form_label(form.avisTitre) }}
                    <div class="controls">
                        {{ form_widget(form.avisTitre) }}
                        {{ form_errors(form.avisTitre) }}
                    </div>
                </div>
                
                <div class="control-group">
                    {{ form_label(form.avis) }}
                    <div class="controls">
                        {{ form_widget(form.avis) }}
                        {{ form_errors(form.avis) }}
                    </div>
                </div>
                
                <div>
                    {{ form_label(form.typeOpinion) }}
                    <div class="controls">
                        {{ form_widget(form.typeOpinion) }}
                        {{ form_errors(form.typeOpinion) }}
                    </div>
                </div>
                
                
                <div class="control-group">
                    {{ form_label(form.avisDomaine) }}
                    <div class="controls">
                        {{ form_errors(form.avisDomaine) }}
                        {{ form_widget(form.avisDomaine) }}
                    </div>
                </div>
                
                <div id="imagesForUpload" class="control-group">
                    <label class="control-label" style="text-align: left">Images :</label>
                    <div class="controls">
                        <input type="file" name="filesImages[]" multiple="multiple" /><br/>
                        <input type="file" name="filesImages[]" multiple="multiple" /><br/>
                        <input type="file" name="filesImages[]" multiple="multiple"/>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="submit" class="btn btn-primary btn-large" value="Ajouter mon avis">
                    </div>
                </div>
                
                {{ form_widget(form._token) }}
            </fieldset>
            
            
        </form>
            
    </span>

</section>

<script type="text/javascript">
    
    var data = {% render controller('MindSiteBundle:Domaine:getDomaineForForm') %};
    
    $(function(){
        //local source
        $('#addDomaine').select2({
                                width: 530,
                                placeholder: 'Selectionnez un domaine',
                                send: 'never',
                                data: data,
                                dropdownCssClass: 'bigdrop'
                       } );
                       
       //Event
       $('#mind_sitebundle_questiontype_questionDomaine').on('select2-selecting', function(e){
           $('#mind_sitebundle_questiontype_questionDomaine').attr('value', e.val);
       });
    });
        
    
</script>
{% endblock %}