{# empty Twig template #}

{# empty Twig template #}

{% extends "MindSiteBundle::layout.html.twig" %}

{% block sectionCorps %}
    
    
    <span class="formSpan" >
        
        <form action="{{ path('mind_site_avis_modifier', {'idAvis': idAvis}) }}" class="form-horizontal" method="POST" enctype="multipart/form-data">
            
            <fieldset>
                <legend class="btn-primary">Modifier mon avis</legend>
                
                {{ form_errors(form) }}
                {{ form_widget(form.id) }}
                
                <div>
                    {{ form_label(form.avisTitre) }}
                    {{ form_widget(form.avisTitre) }}
                    {{ form_errors(form.avisTitre) }}
                </div>
                
                <div>
                    {{ form_label(form.avis) }}
                    {{ form_widget(form.avis) }}
                    {{ form_errors(form.avis) }}
                </div>
                
                <div>
                    {{ form_label(form.typeOpinion) }}
                    {{ form_widget(form.typeOpinion) }}
                    {{ form_errors(form.typeOpinion) }}
                </div>
                
                <div class="hide">
                        {{ form_label(form.avisDomaine) }}
                        {{ form_widget(form.avisDomaine) }} 
                </div>
                
                <div>
                    <div class="alert alert-info">Changez de domaine si vous le désirez.</div>
                    {{ form_label(form.avisDomaine) }}
                    {% render controller('MindSiteBundle:Domaine:getDomainesTree') %}
                </div>
                
                <div>
                    <input type="submit" class="btn btn-primary" value="Ajouter mon avis">
                </div>
                
                {{ form_rest(form) }}
            </fieldset>
            
            
        </form>
            
    </span>

{% endblock %}