{# empty Twig template #}

{% extends "MindSiteBundle::layout.html.twig" %}

{% block sectionCorps %}

        <span class="formSpan">
            
            <form action="{{ path("mind_site_question_modifier", {'idQuestion': idQuestion}) }}" class="form-horizontal" method="POST" {{ form_enctype(form) }}>
            
                <fieldset>
                    <legend class="btn-primary">Modifier ma question</legend>
                        
                        {{ form_errors(form) }}
                        
                    <div class="control-group">
                        {{ form_label(form.questionTitre) }}
                        <div class="controls">
                            {{ form_widget(form.questionTitre) }}
                            {{ form_errors(form.questionTitre) }}
                        </div>
                    </div>

                    <div class="control-group">
                        {{ form_label(form.question) }}
                        <div class="controls">
                            {{ form_widget(form.question) }}
                            {{ form_errors(form.question) }}
                        </div>
                    </div>
                    
                    <div class="divDomaineInForm control-group">
                        <label class="control-label" style="text-align: left;">Les domaines</label>
                        <div class="controls">
                            {{ lesDomaines|raw }}
                        </div>
                        {#
                        {{ form_label(form.questionDomaine) }}
                        {{ form_widget(form.questionDomaine) }}     
                        #}
                        
                    </div>
                    
                    <div class="control-group">
                        <div class="controls">
                            <input type="submit" class="btn btn-primary btn-large" value="Modifier ma question">
                        </div>
                    </div>

                    {{ form_widget(form._token) }}

                    
                </fieldset>
                
            </form>
        
        </span>
        
{% endblock %}