{# empty Twig template #}

{% extends "MindSiteBundle::layout.html.twig" %}

{% block sectionCorps %}

<section class="row-fluid"> 
    
    <span class="span1"></span>
    
    <span class="formSpan span10 well" >
            
            <form action="{{ path("mind_site_question_ajouter") }}" class="form-horizontal" method="POST" {{ form_enctype(form) }}>
            
                <fieldset>
                    <legend class="btn-primary">Posez votre question</legend>
                        
                        {{ form_errors(form) }}
                        
                    <div class="control-group">
                        {{ form_label(form.questionTitre) }}
                        <div class="controls">
                            {{ form_widget(form.questionTitre) }}
                            {{ form_errors(form.questionTitre) }}
                        </div>
                    </div>

                    <div>
                        {# form_widget(form.sujet) }}
                        {{ form_errors(form.sujet) #}
                    </div>
                    
                    <div class="control-group">
                        {{ form_label(form.question) }}
                        <div class="controls">
                            {{ form_widget(form.question) }}
                            {{ form_errors(form.question) }}
                        </div>
                    </div>
                    
                    <div class="divDomaineInForm control-group">
                        <label class="control-label" style="text-align: left">Les domaines :</label>
                        <div class="controls">
                            {{ lesDomaines|raw }}
                        </div>
                        {#
                        {{ form_label(form.questionDomaine) }}
                        {{ form_widget(form.questionDomaine) }}     
                        #}
                        
                    </div>
                    
                    <div class="control-group">
                        <div class="controls">
                            <input type="submit" class="btn btn-primary btn-large" value="Ajoutez ma question">
                        </div>
                    </div>

                    {{ form_widget(form._token) }}

                    
                </fieldset>
                
            </form>
        
        </span>
</section>
        
{% endblock %}