{# empty Twig template #}

{# empty Twig template #}

{% extends "MindSiteBundle::layout.html.twig" %}

{% block sectionCorps %}
    
    
    <span class="formSpan" >
        
        <form action="{{ path('mind_site_avis_modifier', {'idAvis': idAvis}) }}" class="form-horizontal" method="POST" enctype="multipart/form-data">
            
            <fieldset>
                <legend class="btn-primary">Modifier mon avis</legend>
                
                {{ form_errors(form) }}
                
                <div class="control-group">
                    {{ form_label(form.avisTitre) }}
                    <div class="controls">
                        {{ form_widget(form.avisTitre) }}
                        {{ form_errors(form.avisTitre) }}
                    </div>
                </div>
                
                <div class="control-group">
                    {{ form_label(form.avis) }}
                    <div class="controls">
                        {{ form_widget(form.avis) }}
                        {{ form_errors(form.avis) }}
                    </div>
                </div>
                
                <div class="control-group">
                    {{ form_label(form.typeOpinion) }}
                    <div class="controls">
                        {{ form_widget(form.typeOpinion) }}
                        {{ form_errors(form.typeOpinion) }}
                    </div>
                </div>
                
                <div class="divDomaineInForm control-group">
                    <label class="control-label" style="text-align: left">Les domaines</label>
                    <div class="controls">
                        {{ lesDomaines|raw }}
                    </div>
                </div>
                {#<div>
                    <div class="alert alert-info">Changez de domaine si vous le désirez.</div>
                    {{ form_label(form.avisDomaine) }}
                    {% render controller('MindSiteBundle:Domaine:getDomainesTree') %}
                </div>
                {{ form_widget(form.file) }}
                
                <div id="imagesForUpload">
                    <input type="file" name="filesImages[]" multiple="multiple" /><br/>
                    <input type="file" name="filesImages[]" multiple="multiple" /><br/>
                    <input type="file" name="filesImages[]" multiple="multiple"/>
                </div>
                
                <div class="existingFile">
                    
                </div>#}
                
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" class="btn btn-primary btn-large" value="Modifier mon avis">
                    </div>
                </div>
                
                {{ form_widget(form._token) }}
            </fieldset>
            
            
        </form>
            
    </span>

{% endblock %}