

<section id="formInscription" class="row-fluid">
    
    <span class="span2"></span>

    <span class="span8 formSpan well" >
        
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
            
            <fieldset>
                <legend class="btn-primary">Inscription</legend>
                {{ form_errors(form) }}
                {# include 'MindUserBundle:Form:form.html.twig' #}
                
                <div class="control-group">
                    {{ form_label(form.username) }}
                    <div class="controls">
                        {{ form_widget(form.username) }}
                    </div>
                </div>
                    
                <div class="selectDateNaissance control-group">
                    {{ form_label(form.dateNaissance) }}
                    <div class="controls">
                        {{ form_widget(form.dateNaissance) }}
                        {{ form_errors(form.dateNaissance) }}
                    </div>
                </div>
                
                <div class="control-group">
                    {{ form_label(form.email) }}
                    <div class="controls">
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>
                </div>
                
                <div class="control-group">
                    {{ form_label(form.plainPassword) }}
                    <div class="controls">
                        {{ form_widget(form.plainPassword) }}
                        {{ form_errors(form.plainPassword) }}
                    </div>
                </div>
                
                <div class="selectPays control-group">
                    {{ form_label(form.pays) }}
                    <div class="controls">
                        {{ form_widget(form.pays) }}
                        {{ form_errors(form.pays) }}
                    </div>
                </div>
                
                <div class="radioSexe control-group">
                    {{ form_label(form.sexe) }}
                    <div class="controls">
                        {{ form_widget(form.sexe) }}
                        {{ form_errors(form.sexe) }}
                    </div>
                </div>
                
                <div class="control-group">
                    {{ form_label(form.cdtGenerales) }}
                    <div class="controls">
                        {{ form_widget(form.cdtGenerales) }}
                        {{ form_errors(form.cdtGenerales) }}
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label"></label>
                    <div class="controls">
                        <input class="btn btn-primary btn-large" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
                    </div>
                </div>
                
            </fieldset> 
            
            {{ form_widget(form._token) }}
        </form>
 
 </span>

        </section>