{# empty Twig template #}

{% if messageAdd is defined %}

    <div class="un">
        <div>
            <a class="pull-left" href="#">
                <img class="media-object" data-src="" />
            </a>
            <strong>{{ messageAdd.auteur.pseudo }}</strong>
            <time>{{ messageAdd.dateEnvoi.message }}</time>
        </div>
        <p class="commentaire">{{ messageAdd.message }}</p>

    </div>

{% else %}

    {% for message in messageConversation %}

        <div class="un">
            <div>
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="" />
                </a>
                <strong>{{ message.auteur.pseudo }}</strong>
                <time>{{ message.dateEnvoi.message }}</time>
            </div>
            <p class="commentaire">{{ message.message }}</p>

        </div>

    {% endfor %}

{% endif %}