{# empty Twig template #}


{% extends "MindSiteBundle::layout.html.twig" %}

{% block sectionCorps %}

        {% if lesQuestions is defined %}

            {% for uneQuestion in lesQuestions %}
                 <div class="media">

                     {# HEADER Question #}
                     <div class="media-heading">
                         <h3>
                             <a href="{{ path('mind_site_question_voir', {"auteur": lesAuteurs[uneQuestion.id].slug, "slug": uneQuestion.slug }) }}"> {{ uneQuestion.questionTitre }} </a>
                             <span id="spanFormSuivre"> 
                                {% render controller('MindMediaBundle:Suivis:index', {'stringOptions': app.user.id~'-'~uneQuestion.id~'-'~'question' }) %}
                            </span> 
                          <small class="muted dateElmt">
                             <span>Par {{ lesAuteurs[uneQuestion.id].profileLink|raw }}  </span>
                             <time datetime="{{ lesDates[uneQuestion.id].datePub }}">{{ lesDates[uneQuestion.id].message }}</time>    
                          </small>
                         </h3>
                         
                      </div>
                     
                         
                         <section class="row-fluid infosElmt muted well">
                             
                             {# Domaines #}
                             <span class="span4">
                                 <div class="media">
                                     <a class="pull-left" href="#">
                                        <img class="media-object" src="">
                                    </a>

                                     <div class="media-body">
                                         <h5 class="media-heading" style="margin: 0px;">Domaines</h5>
                                         <span class="">{{ lesDomaines[uneQuestion.id]|raw }}</span>
                                     </div>
                                 </div>
                             </span>
                             
                            {# Vote #} 
                            {% include 'MindMediaBundle:Vote:je_vote_question.html.twig' %}
                             
                        </section>
                     </ul>
                     
                    <div class="media-body">
                        
                        <ul class="nav nav-tabs" id="dataLecture">
                            <li class="active"><a href="#contenuLecture">Question</a></li>
                            <li><a href="#commentairesLecture">Commentaires
                                    <span>
                                        <i class="icon-comment"></i>
                                            {{ lesNbCom[uneQuestion.id] }}
                                    </span>
                                </a>
                            </li>
                        </ul>
                        
                        <div class="tab-content">
                            
                            <div class="tab-pane active" id="contenuLecture">
                                <p align="justify">
                                    {{ uneQuestion.question|raw }}
                                </p>
                            </div>
                            
                            <div class="tab-pane active" id="commentairesLecture">
                                
                                {# Les commentaires #}
                                <div id="groupCommentaires">
                                    {% render controller('MindCommentaireBundle:CommentaireQuestion:getCommentaireQuestion', {'idQuestion': uneQuestion.id}) %}
                                </div>

                                <div class="formAddCommentaire">
                                    <input type="hidden" name="idQuestion" value="{{ uneQuestion.id }}">
                                    {% render controller('MindCommentaireBundle:CommentaireQuestion:addCommentaireQuestion', {'idQuestion': uneQuestion.id}) %}    
                                </div>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    </div>
                    

        
            {% endfor %}
        
        {% endif%}
<script>
$(function () {
    $('#dataLecture a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
    $('#dataLecture a:first').tab('show');
});
</script>
{% endblock %}

