
{# empty Twig template #}

{% extends "MindSiteBundle::layout.html.twig" %}

{% block sectionCorps %}

        {% if lesAvis is defined %}

            {% for unAvis in lesAvis %}
                 <div class="media">

                     {# HEADER AVIS #}
                     <div class="media-heading">
                         <h3>
                             <a href="{{ path('mind_site_avis_voir', {"auteur": lesAuteurs[unAvis.id].slug, "slug": unAvis.slug }) }}"> {{ unAvis.avisTitre }} </a>
                            <span id="spanFormSuivre"> 
                                {% render controller('MindMediaBundle:Suivis:index', {'stringOptions': app.user.id~'-'~unAvis.id~'-'~'avis' }) %}
                            </span> 
                             
                          <small class="muted dateElmt">
                             <span>Par {{ lesAuteurs[unAvis.id].profileLink|raw }} </span>
                             <time datetime="{{ lesDates[unAvis.id].datePub }}">{{ lesDates[unAvis.id].message }}</time>    
                          </small>
                         </h3>
                         
                      </div>
                     
                     
                         <section class="row-fluid infosElmt">
                             
                             {# Domaines #}
                             <span class="span4">
                                 <div class="media">
                                     <a class="pull-left" href="#">
                                        <img class="media-object" src="">
                                    </a>

                                     <div class="media-body">
                                         <h5 class="media-heading" style="margin: 0px;">Domaines</h5>
                                         <span class="">{{ lesDomaines[unAvis.id]|raw }}</span>
                                     </div>
                                 </div>
                             </span>
                             
                            {# Vote #}     
                            {% if is_granted('ROLE_USER') %}
                                {% include 'MindMediaBundle:Vote:je_vote_avis.html.twig' %}
                            {% endif %} 
                        </section>
                     
                     
                    <div class="media-body">
                        
                        <ul class="nav nav-tabs" id="dataLecture">
                            <li class="active"><a href="#contenuLecture">Avis</a></li>
                            <li><a href="#enImageLecture">En image</a></li>
                            <li><a href="#commentairesLecture">Commentaires
                                    <span>
                                        <i class="icon-comment"></i>
                                        {{lesNbCom[unAvis.id]}} 
                                    </span>
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            
                            <div class="tab-pane active" id="contenuLecture">
                                <p align="justify">
                                    {{ unAvis.avis|raw }}
                                </p>
                            </div>
                            
                            <div class="tab-pane" id="enImageLecture">
                                {% include 'MindSiteBundle:Images:images_avis.html.twig' %}
                            </div>
                            
                            {# Les commentaires #}
                            <div class="tab-pane" id="commentairesLecture">
                                
                                <div id="groupCommentaires">
                                    {% render controller('MindCommentaireBundle:CommentaireAvis:getCommentaireAvis', {'idAvis': unAvis.id}) %}
                                </div>
                                
                                <div class="formAddCommentaire">
                                    <input id="inputIdAvis" type="hidden" name="idAvis" value="{{ unAvis.id }}">
                                    {% render controller('MindCommentaireBundle:CommentaireAvis:addCommentaireAvis', {'idAvis': unAvis.id}) %}    
                                </div>
                            </div>
                        </div>
     
                    </div>
                    </div>
                
        
            {% endfor %}
        {% endif%}
<script>
$(function () {
    $('#dataLecture a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
    $('#dataLecture a:first').tab('show');
});
</script>        
{% endblock %}

