{# empty Twig template #}

{% if is_granted('ROLE_USER') %}
    {% set idUserCourant = app.user.id %}
{% endif %}

<section class="row-fluid">

<div id="les-avis">
    <h3>{% block titre_group %} {{ titreGroup }} {% endblock %}</h3>
</div>
    
{% if lesAvis is defined %}
    {% set nbElmts = 1 %}
    
    {% for unAvis in lesAvis %}
    
        {% if nbElmts == 3 %}
            {% set nbElmts = 1 %}
        {% endif %}
        
        {% if nbElmts == 1 %}
            <span class="row-fluid">
        {% endif %}
        
                <div style="margin-top: 10px;" id="{{unAvis.id}}" class="media span6 elmtEntityOne">
                        <a class="pull-left" title="{{ unAvis.avisTitre }}" href="{{ path('mind_site_avis_voir', {"auteur": lesAuteurs[unAvis.id].slug, "slug": unAvis.slug }) }}">
                         {% if images[unAvis.id] is not empty %}
                            <img class="media-object" src="{{ asset(images[unAvis.id][0].path) }}" />
                         {% else %}
                            <img class="media-object" data-src="#" />
                         {% endif %}
                        </a>

                        <div class="media-body">
                            <div class="media-heading">
                                {% include 'MindSiteBundle:Forms:form_avis_supprimer.html.twig' %}
                                
                                <a title="{{ unAvis.avisTitre }}" href="{{ path('mind_site_avis_voir', {"auteur": lesAuteurs[unAvis.id].slug, "slug": unAvis.slug }) }}">
                                    {{ unAvis.avisTitre }} 
                                </a>
                                
                                <smal class="muted dateElmt">
                                    <span>Par {{ lesAuteurs[unAvis.id].profileLink|raw }}</span> 
                                    <span>{{ lesDates[unAvis.id].message }}</span>
                                </smal>
                                 
                            </div>
                            
                            <p class="infosLigne2">
                                 <a href="{{ path('mind_site_avis_voir', {"auteur": lesAuteurs[unAvis.id].pseudo, "slug": unAvis.slug }) }}#groupCommentaires"><i class="icon-comment"></i>{{ lesNbCom[unAvis.id] }}</a>
                            </p>
                        </div>
                </div>
        {# Fermeture form supprimer #}
        {% if is_granted('ROLE_USER') and idUserCourant == unAvis.avisAuteur %}            
             
        {% endif %}
                    
        {% set nbElmts = nbElmts +1 %}
        
        {% if nbElmts == 1 %}
            </span>
        {% endif %}
    
    {% endfor %}
            
{% endif %}  
            
</section>

{% set lesRoutes = 
    [
        'avis_for_accueil', 
        'get_avis_by_auteur',
        'get_questions_by_auteur',
        'mind_user_profile_voir', 
        ''
    ] 
%}

{# display navigation #}
{% if routePaginator is defined and routePaginator in lesRoutes %}

{% else %} 
<div class="navigation">
    {{ knp_pagination_render(lesAvis) }}
</div>
{% endif %}

{% if nbResult is defined %}

    {% if nbResult == 0 %}
        <script type="text/javascript">
            $(function(){
                var msg = '{{ nbResult ~ ' résultas trouvés.'}}';
                $('#tabResultats a[href="#avis"] span').html(msg);
            });
        </script>
    {% else %}
        <script type="text/javascript">
            $(function(){
                var msg = '{{ nbResult ~ ' résultas trouvés.'}}';
                $('#tabResultats a[href="#avis"] span').html(msg);
            });
        </script>
    {% endif %}

{% endif %}