{# empty Twig template #}


{% if lesCommentaires is defined %}

{% for unCommentaire in lesCommentaires %}
    
<div class="unCommentaire media">
    <div>
        <a class="pull-left" href="#">
            <img class="media-object" src="{{ asset(lesAuteursCom[unCommentaire.id].path) }}" />
        </a>
    </div>
    <div class="media-body">
        <div class="media-heading">
            <strong>{{ lesAuteursCom[unCommentaire.id].username }}</strong>
            <small class="muted dateElmt">
                <time datetime="{{ lesDatesCom[unCommentaire.id].datePub }}">{{ lesDatesCom[unCommentaire.id].message }}</time>
            </small>
        </div>
        <p class="commentaire">{{ unCommentaire.commentaire }}</p>
    </div>
</div>

{% endfor %}

{% endif %}
