{# empty Twig template #}



<form id="formNouvelleConversation" action="{{ path("mind_mp_nouveau_conversation") }}" class="form-horizontal editableform" method="POST">
    
    <div>
        {{ form_errors(form) }}
        {{ form_errors(form.contenuMessage) }}
    </div>
    
    <div class="control-group">
        <label for="destinataires" class="control-label" style="text-align: left;">Destinataires :</label>
        <div class="controls">
            <input class="select2-input input-xlarge" id="destinataires" type="text" data-prototype="{{ form_widget(form.destinataires.vars.prototype) | e }}"/>
        </div>
    <div>     
        
    <div class="control-group">
        {{ form_label(form.contenuMessage) }}
        <div class="controls">
            {{ form_widget(form.contenuMessage) }}
        </div>
    </div>
    
    <div style="margin-top: 50px;">
        <input id="btnSendMp" type="submit" class="btn btn-primary btn-large" value="Envoyer">
    </div>

    {{ form_widget(form._token) }}
    
</form>
