{# empty Twig template #}

{% if is_granted('ROLE_USER') %}

<form id="formAddCommentaireAvis" action="{{ path('mind_commentaire_add_com_pour_avis', {'idAvis': idAvis }) }}" class="form-horizontal" method="POST">

    <div>
        {{ form_label(form.commentaire) }}
        {{ form_widget(form.commentaire) }}
        {{ form_errors(form.commentaire) }}
    </div>
    
    <div>
        <input type="submit" class="btn btn-primary" value="Ajouter">
    </div>
    {{ form_rest(form) }}

</form>

{% endif %}
    
