{# empty Twig template #}

<table class="table table-striped">

    <thead>
        <tr>
            <th>#</th>
            <th>Pseudo</th>
            <th>Date d'inscription</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th>Rôle</th>
            {% endif %}
        </tr>
    </thead>
    
    <tbody>
        {% set countElmt = 1 %}
        {% for user in users %}
        <tr>
            <td>{{ countElmt }} <img style="display:inline-block;" class="media-object" src="{{ asset(user.path) }}" title="{{user.username}}"></td>
            <td><a href="{{ path('mind_user_profile_voir', {'slug': user.slug}) }}">{{ user.username }}</a></td>
            <td>{{ user.dateInscription|date('d/m/Y') }}</td>
            {% if is_granted('ROLE_ADMIN') %}
            <td id="role{{ user.id }}">
                {% render controller('MindUserBundle:Admin:updateUserRoles', {'idUser': user.id}) %}
            </td>
            {% endif %}
            {% set countElmt = countElmt + 1 %}
        </tr>
        {% endfor %}
    </tbody>

</table>

{% if nbResult is defined %}

    {% if nbResult == 0 %}
        <script type="text/javascript">
            $(function(){
                var msg = '{{ nbResult ~ ' résultas trouvés.'}}';
                $('#tabResultats a[href="#membres"] span').html(msg);
            });
        </script>
    {% else %}
        <script type="text/javascript">
            $(function(){
                var msg = '{{ nbResult ~ ' résultas trouvés.'}}';
                $('#tabResultats a[href="#membres"] span').html(msg);
            });
        </script>
    {% endif %}

{% endif %}
