{# empty Twig template #}

<section id="">

    {% block mpDossierTitre %} 
        {{ blocTitre }} 

    {% endblock %}
    
    {% if conversations is empty %}
    <div>Il ne y'a aucun message.</div>
    {% endif %}
    
    
    {# un messages #}
            
        {# La liste des conversations #}
        <ul>
            {% for conversation in conversations %}

                {% set idConversation = conversation.id %}
                {% set participantConversation = participants[idConversation] %}
                
             {# Une conversation #}
             <li class="row-fluid" id="listeConversation">
               
                {# Check bouton pour selectionner les conversations à supprimer #}
                <div class="checkBoxConversation">
                    <input name="toAction[]" class="conversationToArchive" type="checkbox" value="{{ idConversation }}" />
                </div>
                 
                 {# La liste des participants de cette conversation. Il s'agit des destinataires #}
                <div class="listeParticipantsConversation">
                        
                        <div> 
                            {% for participant in participantConversation %}
                                    {{ participant.profileLink|raw }}{{','}}
                            {% endfor %}
                        <div>
                        <time>{{ dates[idConversation].message }}</time>
                </div>
                 
               </li>
               <li class="divider"></li>
               
            {% endfor %}
        </ul>
            
     <div>
         
</section>