{# empty Twig template #}

<script type="text/javascript">
    // garde une trace du nombre de champs email qui ont été affichés
    var emailCount = '{{ form.tabParticipants|length }}';
</script>

<form id="formNouvelleConversation" action="{{ path("mind_message_nouveau_conversation") }}" class="form-horizontal" method="POST" {{ form_enctype(form) }}>
    
    {{ form_errors(form) }}

    <div>
        <ul id="ulInputAutocomplete">
            
            <li id="liInputAutocompleteContent">
                <input placeholder="Destinataires" id="tabDestinataires" type="text" name="tabDestinataires" /> 
            </li>
            
        </ul>
        
    </div>
    
    <div>
        <textarea name="message" placeholder="Message"></textarea>
    </div>
    
    <div class="hide">
         <ul id="participants-fields-list" data-prototype="{{ form_widget(form.tabParticipants.vars.prototype) | e }}">
            
            {% for participantField in form.tabParticipants %}
                <li>
                    {{ form_errors(participantField) }}
                    {{ form_widget(participantField) }}
                </li>
            {% endfor %}
        
        </ul>   
    </div>
    
    <div style="margin-top: 50px;">
        <input id="btnSendMp" type="submit" class="btn btn-primary" value="Envoyer">
    </div>

    {{ form_rest(form) }}
    
</form>